.app.dark {
  --bg-color: rgb(0, 0, 112);
  --inverted-bg-color: rgb(170, 170, 170);

  --primary-color: rgb(2, 104, 2);
  --secondary-color: rgb(1, 201, 1);
  --inverted-primary-color: rgb(60, 77, 255);
  --inverted-secondary-color: rgb(107, 87, 252);
}
